.main {
    display: flex;
    flex-direction: column;
    border-right: 2px solid var(--dark-clr);
    background-color: var(--bg-clr);
    width: 15%;
    position: relative;
    height: calc(100% - 86px);
    box-sizing: border-box;
    padding: 1rem;
    gap: 2rem;
    transform: all 200ms ease-in-out;
    position: relative;
}

.gamesTypes {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.gameType {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--bg-lght);
    font-size: 1.75rem;
    border-radius: .75rem;
    box-sizing: border-box;
    padding: 1rem 0;
    font-family: "Quantico", sans-serif;
    color: var(--font-alt);
    box-shadow: 0px 2px 0px rgba(0, 0, 0, 0.40);
    text-shadow: 0px 2px 0px rgba(173, 181, 189, 0.40);
    border: 2px solid transparent;
    cursor: pointer;
}

.gameTypeActive {
    border: 2px solid var(--add-blue);
    filter: drop-shadow(0px 2px 0px rgba(36, 175, 193, 0.60));
    color: var(--add-blue);
    text-shadow: none;
}

.line {
    width: 100%;
    height: 2px;
    background-color: var(--dark-clr);
}

.customSelect > select {
  appearance: none;
  -webkit-appearance: none;
  width: 100%;
  font-size: 1.5rem;
  padding: 0.675em 2em 0.675em 1em;
  background-color: var(--bg-lght);
  box-shadow: 0px 2px 0px rgba(0, 0, 0, 0.40);
  text-shadow: 0px 2px 0px rgba(173, 181, 189, 0.40);
  border-radius: .75rem;
  color: var(--font-alt);
  cursor: pointer;
  outline: none;
  border: none;
  font-family: "Quantico", sans-serif;
}

option {
    color: var(--bg-lght);
    filter: none;
    text-shadow: none;
}

.customSelect {
    position: relative;
}

.customSelect::before,
.customSelect::after {
  --size: 0.5rem;
  content: "";
  position: absolute;
  right: .5rem;
  pointer-events: none;
}

.customSelect::after {
  border-left: var(--size) solid transparent;
  border-right: var(--size) solid transparent;
  border-top: var(--size) solid var(--font-alt);
  top: 50%;
}

.selectLabel {
    font-size: 1.5rem;
    color: var(--font-alt);
    font-family: "Quantico", sans-serif;
    text-shadow: 0px 2px 0px rgba(173, 181, 189, 0.40);
}

.switch {
    position: absolute;
    bottom: 50%;
    transform: translate(0, 50%);
    left: 15%;
    display: flex;
    align-items: center;
    gap: 1rem;
    color: var(--font-alt);
    font-family: "Quantico", sans-serif;
    font-size: 1.5rem;
    writing-mode: vertical-lr;
    cursor: pointer;
}