.main {
  width: 100%;
  height: calc(100% - 86px);
  display: flex;
  background-color: var(--bg-lght);
  box-sizing: border-box;
  position: relative;
}

.playlists {
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow-y: auto;
  overflow-x: hidden;
  align-items: center;
  padding: 2rem 0;
  flex-grow: 1;
  box-sizing: border-box;
  gap: 2rem;
}

.uselessWrapperThatIsNeededBecauseOfKey {
  display: flex;
  flex-direction: column;
  width: 60%;
  position: relative;
}

.noData {
  font-size: 2rem;
  color: var(--font-alt);
  font-family: "Quantico", sans-serif;
  text-align: center;
  text-shadow: 0px 2px 0px rgba(173, 181, 189, 0.4);
}